@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.swal-overlay { font-family: "Poppins"} 

span, div {
    font-family: 'Poppins';
}

.player-head {
    margin: auto 30px;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 3.8%;
    height: 60%;
    border: none;
    border-radius: 15px;
    position: absolute;
    left: 5%;
    top: -10%;
    margin: 2%;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.player-head:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.button {
    font-weight: 700;
}


.body-home {
    display: flex;
    height: 78vh;
    margin: 3rem 2rem;
    scrollbar-width: none;
}


.news-list {
    position: relative;
    overflow: auto;
    width: 100%;
}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    transition: opacity 1s;
    opacity: .4;
}

.news-block:hover {
    transition: opacity 1s;
    opacity: 1;
}

.opacity-1 {
    opacity: 1;
}

.news-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;
    background-color: #292929;
    border-radius: 5px 5px 0px 0px;
    transition: color .2s, filter .2s;
}

.title_ {
    position: absolute;
    font: normal normal bold 27px/40px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #E1E1E1;
    width: 75px;
    text-align: center;
    font-weight: 900;
    font-family: Poppins;
    transition: color .2s;
}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 13px;
}

.news-content {
    position: relative;
    width: 100%;
}

.bbWrapper {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
    transition: color .2s;
}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
    position: relative;
    width: 65vh;
    padding-left: 1rem;
    background: none;
    text-align: center;
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.server {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #292929;
    border-radius: 5px;
    opacity: .4;
    margin-bottom: -15px;
}

.server1 {
        position: relative;
        width: 100%;
        height: 60px;
        background-color: #292929;
        border-radius: 5px;
        opacity: .4;
        margin-bottom: -15px;
    }

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server1:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 6px;
    left: 15px;
}

.music-img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 15px;
    object-fit: cover;
    /* Añadido para ajustar la imagen al cuadro sin distorsionarla */
    background-size: cover;
    /* Asegura que la imagen de fondo se ajuste al cuadro */
}
.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 10px;
    left: 70px;
    transition: color .2s;
}

.name1 {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 15px;
    left: 70px;
    transition: color .2s;
}

.btn-mods {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #000;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: color .2s;
    align-items: center;
    justify-content: center;

}

.nombre {
    position: relative;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 30px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #292929;
    border-radius: 4px;
    transition: background-color .2s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 700;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
}

* {
    font-family: 'Poppins';
    font-weight: 700;
}

.bottom_bar {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    background-color: #1f1f1f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.button {
    height: 45px;
    margin-left: 5px;
    border-radius: 5px;
}

#settings-btn {
    margin-left: 0px;
    margin-right: 0px;
    width: 45px;
}

#btnShowNews {
    width: 45px;
}

#play-btn {
    margin-right: 0px;
}

*, div {
    font-family: 'Poppins';
    font-weight: 700;
}

  .errores::-webkit-scrollbar {
      width: var(--scroll-size, 15px);
  }

  .errores::-webkit-scrollbar-thumb {
      background: var(--scroll-thumb, linear-gradient(45deg, #00aeff, #a68eff));
      border-radius: var(--scroll-radius, 3px);
  }

  .errores::-webkit-scrollbar-track {
      background: var(--scroll-track, rgb(255 255 255 / 10%));
  }

  .modal-card-body::-webkit-scrollbar {
      width: var(--scroll-size, 15px);
  }

  .modal-card-body::-webkit-scrollbar-thumb {
      background: var(--scroll-thumb, linear-gradient(45deg, #00aeff, #a68eff));
  }

  .modal-card-body::-webkit-scrollbar-track {
      background: var(--scroll-track, rgb(255 255 255 / 10%));
  }

  .ad {
      position: relative;
      width: 100%;
      height: 180px;
      border-radius: 5px;
      opacity: 1;
      margin-bottom: -20px;
      background-image: url('https://api.battlylauncher.com/ads/get');
      background-size: cover;
      background-repeat: no-repeat;
  }