body,
html {
  background-color: #0f1623;
  font-family: "Poppins", sans-serif;
}

.button,
button {
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0f1623;
  padding: 50px;
}

.main-user-profile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #0f1623;
  border-radius: 10px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to right,
    transparent 10%,
    #ccc,
    transparent 90%
  );
  border-image-slice: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #0f1623, #1e2a3a);
  transition: height 0.5s ease;
  overflow: hidden;
}

.main-user-profile-left {
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
  /* padding: 20px; */
  height: 300px;
  width: 40%;
  transform: translateX(20px);
}

.main-user-profile-right {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  width: 60%;
  justify-content: flex-end;
  gap: 10px;
}

.main-user-profile-right h1 {
  color: white;
  font-size: clamp(24px, 5vw, 55px);
  margin: 0;
  font-weight: 600;
  line-height: 1;
  display: flex;
}

.main-user-profile-right h2 {
  color: #ccc;
  font-size: clamp(14px, 3vw, 25px);
  margin: 0;
  line-height: 1;
  font-weight: 500;
}

#skin_container {
  transform: translateY(80px);
  cursor: pointer;
}

.main-user-secondary-profile {
  background-color: #0f1623;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.main-user-secondary-profile-comments-panel {
  background-color: #0f1623;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  overflow: hidden;
}

.sub-main-user-secondary-profile-comments-panel {
  width: 80%;
}

.main-user-secondary-profile-comments-panel-invisible {
  background-color: #0f1623;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  margin-left: 10px;
  display: flex;
}

.user-comments-title {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.user-comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.user-comment {
  background-color: #2e3e50;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.user-comment:hover {
  background-color: #2b343f;
}

.user-comment-username {
  color: white;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.user-comment-content {
  color: white;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  line-height: 1;
}

.beta-badge {
  background-color: #66d1ff;
  color: #000;
  padding: 2px 7px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}

.user-secondary-info-title {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: 600;
}

.user-secondary-info-desc {
  color: #ccc;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}

.mc-face-viewer-7x {
  flex-shrink: 0;
}

.badge {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 5px;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* Estilo del tooltip (button-span) */
.badge .button-span {
  position: absolute;
  left: 50%;
  bottom: 100%;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 0.5em;
  padding: 15px;
  background-color: #2e3e50;
  border-radius: 10px;
  font-size: 0.75rem;
  line-height: 1.6;
  text-align: left;
  white-space: normal;
  width: 300px;
  transform: translate(-50%, 1em);
  transition: all 0.15s ease-in-out;
  color: #fff;
  max-width: 300px;
  overflow: hidden;
  z-index: 10;
}

.badge .button-span h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  align-items: center;
}

.badge .button-span h1 i {
  margin-right: 3px;
}

.badge .button-span h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/* Flecha del tooltip */
.badge .button-span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top-color: #2e3e50;
  transform: translate(-50%, 0);
}

/* Hover para mostrar el tooltip */
.badge:hover .button-span {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.modal-card {
  animation: popIn 0.3s ease;
}

@keyframes popIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-card {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.tag {
  height: 1.5em !important;
  line-height: 1.5 !important;
  /* padding: 0px; */
  border-radius: 15px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
